.item-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: gray;
    height: 5vw;
    border-radius: 16px;
    padding: 8px;
}

p {
    margin: 0;
}